:host {
  // this is the "app-root" component
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu {
  background-color: #69e;
  color: #fff;
  height: 40px;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      padding: 5px;
      margin: 0;

      a {
        display: block;
        padding: 5px;
        color: #fff;

        &.active {
          text-decoration: none;
          color: #fe0;
        }
      }
    }
  }
}
