html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --color-a: #005cc5;
  --color-b: #032f62;
  --color-c: #0366d6; /* links */
  --color-d: #1b1f23;
  --color-e: #22863a;
  --color-f: #24292e;
  --color-g: #444d56;
  --color-h: #586069;
  --color-i: #6a737d;
  --color-j: #6a737d;
  --color-k: #6f42c1;
  --color-l: #735c0f;
  --color-m: #959da5;
  --color-n: #b31d28;
  --color-o: #c6cbd1;
  --color-p: #d73a49;
  --color-q: #e1e4e8;
  --color-r: #e36209;
  --color-s: #eeeeee;
  --color-t: #f0fff4;
  --color-u: #f6f8fa;
  --color-v: #fafbfc;
  --color-w: #fafbfc;
  --color-x: #ffebda;
  --color-y: #ffeef0;
  --color-z: #ffffff;
  --color-0: #eaecef;
  --color-1: inherit;
  --color-2: rgba(27, 31, 35, .05);
  --color-3: rgba(27, 31, 35, .3);
  --color-4: rgba(27, 31, 35, .6);
  --color-5: transparent;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

body pre.hljs {
  background: #2b2b2b;
  overflow: auto;
}

/* === MENU === */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 270px;
  padding: 10px;
  overflow-y: auto;
}

.menu a, .menu .menu-item {
  color: var(--color-c);
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.menu .menu-item {
  padding: 5px;
}

.menu .menu-item.selected > a {
  font-weight: bold;
  text-decoration: underline;
}

.menu .menu-section {
  font-size: 13px;
  padding: 3px 3px 3px 25px;
  text-indent: -10px;
  color: var(--color-g);
}

.menu-section:first-of-type {
  padding-top: 5px;
}

.menu .menu-section a {
  color: var(--color-g);
}

.menu .menu-item.depth-2 {
  margin-left: 10px;
}

.menu .menu-item.depth-3 {
  margin-left: 20px;
}

.menu .menu-item.depth-4 {
  margin-left: 30px;
}

.menu .menu-item.depth-5 {
  margin-left: 40px;
}

.menu .menu-item.depth-6 {
  margin-left: 50px;
}

.menu .menu-item.depth-2, .menu .menu-item.depth-2 a {
  color: var(--color-r);
  filter: brightness(90%);
}

.menu .menu-item.depth-3, .menu .menu-item.depth-3 a {
  filter: brightness(80%);
}

.menu .menu-item.depth-4, .menu .menu-item.depth-4 a {
  filter: brightness(70%);
}

.menu .menu-item.depth-5, .menu .menu-item.depth-5 a {
  filter: brightness(60%);
}

.menu .menu-item.depth-6, .menu .menu-item.depth-6 a {
  filter: brightness(50%);
}

/* === CONTENT === */

.markdown-body {
  width: calc(100% - 270px);
  max-width: 1270px;
  padding: 10px;
  min-width: 500px;
  margin-left: 270px;
  background: #fff;
  z-index: 1;
  position: relative;
  border-left: 1px solid var(--color-0);
}

@media only screen and (max-width: 1270px) {
  .markdown-body {
    min-width: auto;
    max-width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .markdown-body {
    margin: 0;
    width: 100%;
  }

  .menu {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    z-index: 2;
  }

  body .menu-toggle {
    opacity: .4;
  }
}

/* === SIDEBAR MENU TOGGLE === */

body.allow-sidebar-transitions .menu,
body.allow-sidebar-transitions .markdown-body {
  transition: all ease-out .2s;
}

body.sidebar-hidden .menu {
  left: -270px;
}

body.sidebar-hidden .markdown-body {
  width: 100%;
  margin-left: 0;
}

.menu-toggle {
  display: block;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 2px;
  position: fixed;
  z-index: 3;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  opacity: .2;
  box-shadow: 0 0 5px inset rgba(0, 0, 0, .5);
  transform-origin: top left;
  transition: all 1s;
}

.menu-toggle:active {
  box-shadow: 0 0 5px inset rgba(255, 255, 255, .3);
  background-color: var(--color-c);
  border-color: #fff;
  opacity: 1;
}

.menu-toggle:active span {
  background-color: #fff;
  box-shadow: none;
}

.menu-toggle span {
  display: block;
  position: absolute;
  left: 2px;
  right: 2px;
  height: 2px;
  box-shadow: 0 0 1px 5px inset rgba(0, 0, 0, .5);
}

.menu-toggle span:nth-of-type(1) {
  top: 2px;
}

.menu-toggle span:nth-of-type(2) {
  top: 6px;
}

.menu-toggle span:nth-of-type(3) {
  bottom: 2px
}
