// @import "../../../styles/common";
//@import "/src/styles/mixins";
@import 'mixins';

:host {
  display: inline-block;
}

button {
  display: inline-block;
  border-radius: 3px;
  background-color: lightgray;
  border: 2px outset gray;
  color: #333;
  font-weight: bold;
  @include button-shadow();
}
